/** Add css rules here for your application. */

.gwt-TabLayoutPanelTabs {
  background-color: #373737;
}
.gwt-TabLayoutPanelContent {
  border: none;
  overflow: hidden;
  width: 100%;
  padding: 30px;

}
.gwt-TabLayoutPanelTab {
  padding: 17px 75px 21px 75px;
  cursor: pointer;
  font-size: 1.8em;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background: #373737;
  margin-left: 2px;
  margin-right: 2px;
  max-width: 20em;
}
.gwt-TabLayoutPanelTab-selected {
  cursor: default;
  background: deeppink;
  color: #FFFFFF;
}

.centered{
  margin-left: auto;
  margin-right: auto;
}

.menu{
  color: #ffffff;
  font-weight: bold;
}

.content{
  background: #ffffff;
  color: #373737;
}

.background{
  background: #373737;
  color: white;
}

.textInput{
  width: 200px;
  height: 20px;
  border: none;
  background: #1c1c1c;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 25px;
}

.slider{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 40px;
}

.filterPanel{
  margin: 20px;
}